<div class="container">
 
    <div class="posTip">
      Futscope Academy is going to feature tutorials by elite FIFA players with the highest Futscope ratings to help you improve your game. Each video author will have their Futscope link and a short description beneath each video so that you can see that they are legit and you should at least try what they are saying!  
<br /><br/>
     
   
    	The first set of videos we are featuring are by <a href="http://futscope.com/#/?opponent=Mortician%2014">Mortician 14</a>, one of the top top FIFA players in the world. Here is his Futscope <a href="http://futscope.com/#/?opponent=Mortician%2014">rating: </a>
    	<br></br>
    </div>

    <h3>Video Tutorials</h3>

    <div class="youtubediv youtubelhs">
	    <iframe class="youtube" width="280" height="160" src="//www.youtube.com/embed/jpAgipFQMyg?list=PLT0s_6V1m9zx2b1vpoUHn_eu4vOKQYRux" frameborder="0" allowfullscreen></iframe>
	    <div class="youtubetext">
	    	This video will show you how to defend like The Mortician and take your game to that next level, he will discuss changing players through LB or L1, he'll also discuss Momentum Defending, Using the Right Analog Stick to change players which is integral to his sucess and then he'll talk about Confusion Defending.
	    </div>
    </div>

     <div class="youtubediv youtuberhs">
	    <iframe class="youtube" width="280" height="160" src="//www.youtube.com/embed/457SoTsNppI?list=PLT0s_6V1m9zx2b1vpoUHn_eu4vOKQYRux" frameborder="0" allowfullscreen></iframe>
	    <div class="youtubetext">
	    	Tutorial on how to create effective short corners. 
	    </div>
    </div>
<br class="clear">
<br />

     <div class="youtubediv youtubelhs">
	    <iframe class="youtube" width="280" height="160" src="//www.youtube.com/embed/hRtn6i81yl4?list=PLT0s_6V1m9zx2b1vpoUHn_eu4vOKQYRux" frameborder="0" allowfullscreen></iframe>
	    <div class="youtubetext">
	    	You will notice that when being matched up against people with poor stats on FUTSCOPE, we suggest you use Ultra Attacking/High Pressure mentality and tactics. This video will explain how to do this high risk, high reward play style. Remember, this is not something that will come very easy to the average gamer, as discussed in the video even some of the great players struggle with this, but this is what has made Mortician so consistent and deadly. 
	    </div>
    </div>

     <div class="youtubediv youtuberhs">
	    <iframe class="youtube" width="280" height="160" src="//www.youtube.com/embed/0bOLZ9L4rCY?list=PLT0s_6V1m9zx2b1vpoUHn_eu4vOKQYRux" frameborder="0" allowfullscreen></iframe>
	    <div class="youtubetext">
	    	The fake shot is Mortician's most deadly weapon on FIFA 15. Enjoy using this monster.
	    </div>
    </div>

    <br class="clear">
<br />

	<div class="youtubediv youtubelhs">
	    <iframe class="youtube" width="280" height="160" src="//www.youtube.com/embed/dXWMuvMPV6g?list=PLT0s_6V1m9zx2b1vpoUHn_eu4vOKQYRux" frameborder="0" allowfullscreen></iframe>
	    <div class="youtubetext">
	    	Here's an intersting one that takes a look at winning those physical battles in defense. I hope this help with shutting down those fast breaks early and improves you Fifa game. 
	    </div>
    </div>

     <div class="youtubediv youtuberhs">
	    <iframe class="youtube" width="280" height="160" src="//www.youtube.com/embed/Rua5x0XZQvU?list=PLT0s_6V1m9zx2b1vpoUHn_eu4vOKQYRux" frameborder="0" allowfullscreen></iframe>
	    <div class="youtubetext">
	    	This is a tutorial on how to become better at stopping that annoying kick off run. It's not as bad after the patch, but not gone completely!
	    </div>
    </div>
    <br class="clear">
<br />

     <div class="possession"><a href="http://facebook.com/futscope"><img src="../images/facebook.png" /></a></div>
     <div class="possession"><a href="http://twitter.com/futscope"><img src="../images/twitter.png" /></a></div>
     
   
     <br/>
     <br/>
</div>