
<div class="container">
 
    <div class="posTip">
      FUTSCOPE is a free service that you can use to improve your FUT play by scouting out opponents you match up against before you play them. Simply choose your console, enter the opponent name, and it will tell you all about them. You will be provided with an in depth analysis of their play, their career statistics, and some suggestions on how you should approach the game. You may even decide you don't want to play this person at all, and save yourself 20 minutes of your life, and possibly some broken controllers!
<br /><br/>
      FUTSCOPE was developed with the help of a professional FIFA player who has been considered one of the world's best players for the greater part of a decade. Over this time he has competed in tournaments both in Australia and all around the world, he was ranked number 1 in the world in multiple FIFA editions. To get to this elite level of play, each year he refined his techniques and skills to beat each opponent, and has loaned us some of his secrets and expertise to help us develop this site. You can read up about him <a href="https://www.facebook.com/5Time/info">here</a>.

    </div>

    
     <div class="possession"><a href="http://facebook.com/futscope"><img src="../images/facebook.png" /></a></div>
     <div class="possession"><a href="http://twitter.com/futscope"><img src="../images/twitter.png" /></a></div>
     <iframe width="560" height="315" src="//www.youtube.com/embed/aw0x0cCl9sU" frameborder="0" allowfullscreen></iframe>
   
     <br/>
     <br/>
</div>
