<div class="container">
  <h2>Enter FIFA match stats</h2>
 <style type="text/css">
      .selected {
        background-color: lightgreen;
      }

      .oppStat{
        padding-left: 210px;
      }

      .statName{
        padding-left: 70px;
      }
    </style>
  <form role="form" ng-submit="fetch()">
      
      <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Fetch recent games">
        </span>
  </form>
 

 <table >


  <tbody class="match-history-item" ng:repeat="matchData in recentGames" >
    <tr ng-click='selectRestaurant($index)'
          ng-class='{selected: $index==selectedRow}' >
 

                      <td ><div class="col15 club-crest align-right">
                        <!-- <img ng-src="{{getHomeCrest(matchData.self.stats.team)}}"> -->
                      </div></td>  
   <td >
       
                           <div style="padding-right:40px">{{matchData.self.user_info}}</div>

                     
    </td>  
                      <td>
                        <div class="match-stats" ng-class="{win: matchData.self.stats.wins == '1', draw: matchData.self.stats.ties == '1', loss: matchData.self.stats.losses == '1'}">
                          <div class="self">
                            <div class="score" style="float:left" ng-class="{winner: matchData.self.stats.wins == '1'}">{{matchData.self.stats.score }}</div>
                          </div>
                        </div>
                     
                      </td>

                      <td>
               
                        <div class="match-stats" ng-class="{win: matchData.opponent.stats.wins == '1', draw: matchData.opponent.stats.ties == '1', loss: matchData.opponent.stats.losses == '1'}">
                          <div class="opponent">
                            <div class="score" style="float:right"  ng-class="{winner: matchData.opponent.stats.wins == '1'}">{{matchData.opponent.stats.score }}</div>
                          </div>
                        </div>
                 
                      </td>
                            
                             <td style="padding-left:40px">{{matchData.opponent.user_info}}</td>
                      

                      <td><div class="col15 club-crest">
                        <!-- <img ng-src="{{getHomeCrest(matchData.opponent.stats.team)}}"> -->
                      </div></td>

                     
                      </tr>

                       <table>
                    
                    <tr >
<td width="800px"> <div class="col100" ng-show="gameSelected" ng:repeat="matchData in recentGames">
            <ul class="table-list">
                <li>
                    <div class="col33">{{matchData.self.stats.shot_on_target}}</div>
                    <div class="col33 statName">Shots on Target</div>
                    <div class="col33 oppStat" >{{ matchData.opponent.stats.shot_on_target}}</div>
                </li>
                <li>
                    <div class="col33">{{matchData.self.stats.possession}}%</div>
                    <div class="col33 statName">Possession</div>
                    <div class="col33 oppStat">{{ matchData.opponent.stats.possession}}%</div>
                </li>
                <li>
                    <div class="col33">{{ matchData.self.stats.pass_made / matchData.self.stats.pass_attempts * 100
                        |
                        number:0 }}%
                    </div>
                    <div class="col33 statName">Pass Accuracy</div>
                    <div class="col33 oppStat">{{ matchData.opponent.stats.pass_made /
                        matchData.opponent.stats.pass_attempts *
                        100 | number:0 }}%
                    </div>
                </li>
                <li>
                    <div class="col33">{{ matchData.self.stats.tackles}}</div>
                    <div class="col33 statName">Tackles</div>
                    <div class="col33 oppStat">{{ matchData.opponent.stats.tackles}}</div>
                </li>
                <li>
                    <div class="col33">{{ matchData.self.stats.fouls}}</div>
                    <div class="col33 statName">Fouls</div>
                    <div class="col33 oppStat">{{ matchData.opponent.stats.fouls}}</div>
                </li>
                <li>
                    <div class="col33">{{ matchData.self.stats.yellow_cards}}</div>
                    <div class="col33 statName">Yellow Cards</div>
                    <div class="col33 oppStat">{{ matchData.opponent.stats.yellow_cards}}</div>
                </li>
                <li>
                    <div class="col33">{{matchData.self.stats.red_cards}}</div>
                    <div class="col33 statName">Red Cards</div>
                    <div class="col33 oppStat">{{ matchData.opponent.stats.red_cards}}</div>
                </li>
                <li>
                    <div class="col33">{{ matchData.self.stats.offsides}}</div>
                    <div class="col33 statName">Offsides</div>
                    <div class="col33 oppStat">{{ matchData.opponent.stats.offsides}}</div>
                </li>
            </ul>
        </div> 
        </td>
 </tr >
                        </table>

                    </tbody>
                    </table>

                    



                      
 
   
                 
</table> 
   <!-- Todos input -->
  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">


                <div >
                <p>
                Enter Game Stats:
                </p>
        <select style="width:200px;height:200px"  ng-model="formations.formation"
                ng-options="obj for obj in formations.options">
                   <option ng-style="formationStyle"  value="">My Formation</option>
        </select>
</div>
<div>
          <select style="width:200px;height:200px"  ng-model="formations.theirformation"
                ng-options="obj for obj in formations.options">
                   <option value="">Their Formation</option>
        </select>
</div>
<br></br>
        <p>
        What division are you in?
        </p>
         <select ng-model="divs.div"
                ng-options="obj for obj in divs.options">
                  <option value="">Division</option>
        </select>


        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>

      

        <input type="text" ng-model="goalsfor" placeholder="Goals For" class="form-control">
        <input type="text" ng-model="goalsagainst" placeholder="Goals Against" class="form-control">
      </div>
    </div>
  </form>
  <p></p>

  <!-- for each todo in todos, sub the current todo in an input box -->
  <!-- Todos list -->


  
 <!--    <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="todo" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
      </span>
    </p>
 -->

     
</div>
